/*colours #FB8122(orange) #fb6428(other orange) #1D2228(black) #E1E2E2(grey)*/

body{
  padding:5px;
  text-align:center;
}

nav{
  background-color:#1D2228;
  color:white;
  width:100%;
}

header{
  background-color:#1D2228;
  color:white;
  width:100%;
  height:30px;
}

sidebar{
  background-color:#1D2228;
  color:white;
  float:left;
  width:25%;
  height:100%;
}

section{
  background-color:#E1E2E2;
  width:100%;
  height:100%;
}

footer{
  background-color:#1D2228;
  color:white;

  width:100%;
  height:20%;
}
/*tidies the tiles*/
.container{
  padding:5px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
/*anything to do with the tiles*/
.tile{
  display:inline-block;
  background-color:white;
  height:140px;
  width:140px;
  margin:10px;
  cursor:pointer;
}
/*when something hovers over the tile*/
.tile:hover{
  display:inline-block;
  background-color:#fb6428;
  height:146px;
  width:146px;
  margin:2px;
}

iframe{
  width:inherit;
  border:none;
}
/*anything to do with the button*/
.button{
  background-color:#FB8122;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding:15px 32px;
}
/*whenever something hovers over the button*/
button:hover{
  background-color:#fb6428; 
}

button{
  background-color:#FB8122;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    color:white;
    padding: 10px;
}

li:hover{
  cursor: pointer;
}
